/*
CSS styling for the Calendar page and Event submission form
Adapted from Hui Wen, 7/24/2018
URLs: https://www.huiwenteo.com/normal/2018/07/24/django-calendar.html and https://www.huiwenteo.com/normal/2018/07/29/django-calendar-ii.html
*/

.calendar {
  width: 90%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 2px solid black;
  #color: white;
  background-color: white;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 15vh;
  padding: 20px 0px 0px 5px;
  background-color: white;
  border:  2px solid black;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 20px;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;

}